.container {
  padding: 10px;
  box-shadow: 3px 3px 11px 3 px rgb(0 0 0 / 100%);
  color: black;
  justify-content: space-between;
  display: flex;
  align: center;
  align-items: center;
  justify-align: center;
  background-color: #f5d1fd;
}

.list {
  list-style: none;
  display: flex;
}

.item {
  margin: 0px 16px;
}
